
*{
    margin: 0;
    padding: 0;

}

body{
    background-image: linear-gradient(to left bottom, #10141a, #00465e, #008181, #00bb6b, #a8eb12);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}



h1{
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}

.conteiner{
    background-color: rgb(0, 0, 0);
    width: 80%;
    margin: auto;
    border-radius: 100px;
    box-shadow: 1px 17px 58px 0px  rgb(0, 210, 218);
    text-align: center;
}

#coluna1{
    text-align: center;
    margin-top: 8%;
    cursor: pointer;
    
    
}

#coluna2{
    
    text-align: center;
    cursor: pointer;
}

#coluna3{
    text-align: center;
}


#ferrari{
    
    margin-bottom: 75px;
}
#apple{
    margin-bottom: 80px;
}



img{
    /* box-shadow: 0px 0px 20px 20px ; */
   
    transition: 900ms;
    max-width: 100%;
    object-fit: cover;
    margin: 20px;
}


img:hover{
    transform: scale(1.2);   
}

#spotify:hover{
    filter: drop-shadow(05px 0px 10px  rgb(74, 219, 81));
}

#alura:hover{
    filter: drop-shadow(05px 0px 10px  rgb(84, 74, 219));
}

#fiap:hover{
    filter: drop-shadow(05px 0px 10px  rgb(243, 26, 171));
}

#uber:hover{
    filter: drop-shadow(05px 0px 10px  rgb(250, 250, 250));
}

#ferrari:hover{
    filter: drop-shadow(05px 0px 10px  rgb(255, 0, 0));
}

#apple:hover{
    filter: drop-shadow(05px 0px 10px  rgb(119, 128, 120));
}

#git:hover{
    filter: drop-shadow(05px 0px 10px  rgb(255, 255, 255));
}

#twitch:hover{
    filter: drop-shadow(05px 0px 10px  rgb(84, 74, 219));
}

#xbox:hover{
    filter: drop-shadow(05px 0px 10px  rgb(74, 219, 81));
}
