*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right top, #ed145b, #ad1c4a, #711b36, #3a1520, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.nav{
    display: flex;
    align-items:center ;
    margin-top: 20px;
    
}

.bloco{
    display: flex;
    
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 80%;
}


.text{
    background-color: #fbcada;
    font-size: 15px;
    height: 90%;
    width: 30%;
    text-align: left;
    line-height: 22px;
    margin-left: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    color: #000000;
}

.destaque{
    color: #ed145b;
    font-size: 20px;
    font-weight: 900;
}

.cursos{
    background-color: #fbcada;
    height: 90%;
    width: 63%;
    text-align: left;
    margin-left: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    

    li{
        list-style: none;
        line-height: 35px;
        margin-top: 0px;
        font-weight: 600;
        
        
    }
}

h2{
    text-align: center;
    color: #ed145b;
}




a{
    text-decoration: none;
   
}


img{
    
    margin-left: 30px;
    filter: drop-shadow(05px 0px 10px  white);
}


h1{
    margin: auto;
    
}

body{
    font-family: "Roboto", sans-serif;
    color: white;
    
}

div{
    text-align: center;
    font-size: 25px
}

li{
    list-style: none;
    line-height: 25px;
    
}