*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

body{
    background-color: #131212;
}
.nav{
    display: flex;
    align-items:center ;
    margin-top: 20px;
    
}

.bloco{
    display: flex;
    
    width: 80%;
    margin: auto;
    margin-top: 40px;
    height: 80%;
}


.text{
    width: 50%;
    text-align: left;
    padding: 20px;
    color: #131212;
    background-color: #D9D9D9;
    border-radius: 9px;
    margin-right: 20px;

}

.destaque{
    color: #ed145b;
    font-size: 30px;
    font-weight: 900;
}

.cursos{
    width: 50%;
    text-align: center;
    background-color:#D9D9D9;
    border-radius: 9px;


}






h2{
    text-align: center;
    color: #ed145b;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h3{
    color: #ed145b;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}




a{
    text-decoration: none;
    
   
}


img{
    
    margin-left: 30px;
    filter: drop-shadow(05px 0px 10px  white);
}


h1{
    margin: auto;
    
}

body{
    font-family: "Roboto", sans-serif;
    color: white;
    
}

div{
    text-align: center;
    font-size: 25px
}

li{
    list-style: none;
    line-height: 25px;
    font-size: 16px;
    color: rgb(0, 0, 0);   
    background-color: white;
    width: 300px;
    border-radius: 9px;
    padding: 9px;
    filter: drop-shadow(0px 4px 4px black);
    margin: auto;
    margin-top: 20px;   

}




.botao{
    background-color:#131212;
    color: white;
    padding: 5px;
    border-radius: 9px;
    text-transform: uppercase;
}

